@import '../../global/breakpoints';
@import '../../global/colors';
body.page-template-homepage {
  transition: 0.6s;

  header {
  }
  .logo {
    background-color: $due-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    #dotLottie-canvas {
      width: 450px;
      height: 300px;
      @include media-breakpoint-down(sm) {
        width: 250px;
        height: 100px;
      }
    }
  }

  .banner-hero {
    height: 100vh;
    .swiper-container {
      height: 100%;
      .swiper-wrapper {
        height: 100%;
        .swiper-slide {
          height: 100%;
          .box-banner {
            height: 100%;
            position: relative;
            .box-images-videos {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 59, 75, 0.35);
                z-index: 1;
              }
              .video-banner-hero {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
              .image-banner-hero {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .box-conteudo {
              display: flex;
              flex-direction: column;
              justify-content: center;
              position: relative;
              height: 100%;
              z-index: 2;
              .titulo-banner-hero {
                color: $grey-0;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 1.28px;
                font-size: 32px;
                @include media-breakpoint-up(sm) {
                  font-size: 64px;
                }
              }
              .box-repetidor-subtitulo {
                position: relative;
                height: 60px;
                margin-bottom: 64px;
                .subtitulo-banner-hero {
                  color: $grey-0;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 140%;
                  letter-spacing: 0.96px;
                  font-size: 28px;
                  position: absolute;
                  opacity: 0;

                  @include media-breakpoint-up(sm) {
                    font-size: 48px;
                    max-width: initial;
                  }
                }
              }
              .button-play {
                transition: initial;
              }

              .modal {
                display: none;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000;
              }

              .modal__bg {
                background: rgba(0, 0, 0, 0.8);
                height: 100vh;
                position: absolute;
                width: 100%;
              }

              .modal__content {
                background: $due-tertiary;
                left: 50%;
                padding: 6px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                @include media-breakpoint-up(sm) {
                  width: 80%;
                  height: 80%;
                }
                .video-container {
                  height: 100%;
                  iframe {
                    width: 100%;
                    height: 100%;
                  }
                }
              }

              .js-modal-close-btn {
                font-size: 13px;
                cursor: pointer;
                position: absolute;
                right: 25px;
                top: 65px;
                @include media-breakpoint-up(sm) {
                  top: 60px;
                }
                svg {
                  transition: 0.6s;
                }
                &:hover {
                  svg {
                    scale: 1.05;
                  }
                }
              }

              .modal__content video {
                width: 100%;
                height: auto;
                vertical-align: bottom;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
      .box-buttons {
        display: none;
        flex-direction: row-reverse;
        position: absolute;
        right: 3px;
        top: 50%;
        width: 100%;
        height: 74px;
        gap: 16px;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        padding: 0 20px;
        cursor: pointer;
        svg {
          filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
          transition: 0.6s;
          width: 80px;
          height: 80px;
          pointer-events: auto;
          circle {
            transition: 0.6s;
          }
          &:hover {
            scale: 1.02;
            circle {
              stroke-width: 2;
            }
          }
        }
        @include media-breakpoint-up(sm) {
          display: flex;
          opacity: 0;
        }

        .swiper-button-disabled {
          opacity: 0;
        }
      }
      .swiper-pagination {
        bottom: 48px;
        right: 0;
        width: fit-content;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          left: 48px;
          transform: initial;
        }
        @include media-breakpoint-up(md) {
          left: 80px;
        }
        @include media-breakpoint-up(lg) {
          left: 195px;
        }
        .swiper-pagination-bullet {
          position: relative;
          width: 56px;
          height: auto;
          text-align: left;
          border-radius: 0;
          opacity: 1;
          margin-right: 20px;
          background-color: transparent;
          em {
            font-size: 15px;
            line-height: 28px;
            font-weight: bold;
            letter-spacing: -0.38px;
            color: #111;
          }
          i {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.3);
            //progress bar 배경
          }
          b {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 0%;
            height: 4px;
            background-color: rgb(255, 255, 255);
            //progress bar 채워지는 부분
          }
        }
        .swiper-pagination-bullet-active {
          background-color: transparent;
          b {
            animation-name: countingBar;
            animation-duration: 6s; //autopaly 시간과 맞춰주기
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-fill-mode: forwards;
          }
        }
        @keyframes countingBar {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
  }

  .nossos-club-resorts {
    padding: 120px 0;
    .box-titulo_link {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.8px;
        color: $due-tertiary;
        font-size: 40px;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          font-size: calc(1rem + 1.6vw);
          br {
            display: none;
          }
        }
      }
      .link-empreendimentos {
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: $due-tertiary;
        position: relative;
        cursor: pointer;
        font-size: calc(0.8rem + 0.1vw);
        @include media-breakpoint-down(sm) {
          display: none;
        }
        &::after {
          content: '';
          bottom: -2px;
          width: 0;
          height: 2px;
          transition: 0.6s;
          left: 0;
          position: absolute;
          background-color: $due-tertiary;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .box-cards-empreendimentos-desktop {
      .swiper-empreendimento {
        @include media-breakpoint-down(sm) {
          display: none;
        }
        padding: 0 20px 0 20px;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          padding: 0 48px 0 48px;
        }

        @include media-breakpoint-up(md) {
          padding: 0 80px 0 80px;
        }
        .card-empreendimentos {
          cursor: pointer;
          transition: 0.6s;
          .box-card {
            position: relative;
            display: flex;
            transition: 0.6s;
            height: 528px;
            @include media-breakpoint-up(xxl) {
              height: 628px;
            }
            &::after {
              content: '';
              background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.3));
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 0;
            }
            .box-midia {
              width: 100%;
              .imagem-empreendimento {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 1s;
              }

              .video-empreendimento {
                transition: 1s;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
              }
            }

            &:hover .video-empreendimento {
              opacity: 1;
            }

            .box-label {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              padding: 10px 0;

              .label-informativo {
                text-align: center;
                color: $grey-0;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                text-transform: uppercase;
                letter-spacing: 0.48px;
              }
            }

            .box-textos-empreendimentos {
              position: absolute;
              bottom: 0;
              left: 0;
              bottom: 24px;
              padding: 0 24px;
              width: 100%;
              transition: 0.6s;
              .container-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                z-index: 2;
                position: relative;
                .box-svg {
                  transition: 0.6s;
                  opacity: 0;
                }
              }
              .localizacao-empreendimento {
                color: $grey-0;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 12px */
                letter-spacing: 0.48px;
                text-transform: uppercase;
                margin-bottom: 16px;
              }

              .nome-empreendimento {
                color: $grey-0;
                font-size: 28px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                letter-spacing: 0.56px;
                margin-bottom: 18px;
              }

              .box-informacoes {
                display: flex;
                align-items: flex-start;
                gap: 32px;
                position: relative;
                z-index: 1;
                .informacoes {
                  display: flex;
                  flex-direction: row;
                  gap: 8px;
                  p {
                    color: $grey-0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                  }
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }

          &.hover-card {
            .box-card {
              &::after {
                background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
              }
            }
            .box-textos-empreendimentos {
              bottom: -20px;
              .container-text {
                .box-svg {
                  opacity: 1;
                }
              }
              .box-informacoes {
                .informacoes {
                  opacity: 0;
                }
              }
            }
          }
        }

        .box-buttons {
          display: none;
          flex-direction: row-reverse;
          position: absolute;
          right: 3px;
          top: 50%;
          width: 100%;
          height: 74px;
          gap: 16px;
          justify-content: space-between;
          transform: translateY(-50%);
          z-index: 1;
          pointer-events: none;
          padding: 0 20px;
          cursor: pointer;
          svg {
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            transition: 0.6s;
            width: 80px;
            height: 80px;
            pointer-events: auto;
            circle {
              transition: 0.6s;
            }
            &:hover {
              scale: 1.02;
              circle {
                stroke-width: 2;
              }
            }
          }
          @include media-breakpoint-up(sm) {
            display: flex;
          }

          .swiper-button-disabled {
            opacity: 0;
          }
        }
      }
    }
    .box-cards-empreendimentos-mobile {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 32px;
      @include media-breakpoint-up(sm) {
        display: none;
      }
      .card-empreendimentos-mobile {
        cursor: pointer;

        .box-card {
          height: 528px;
          position: relative;
          display: flex;
          transition: 0.6s;
          &::after {
            content: '';
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2));
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          .box-midia {
            width: 100%;
            .imagem-empreendimento {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .box-label {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 0;

            .label-informativo {
              text-align: center;
              color: $grey-0;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              letter-spacing: 0.48px;
            }
          }

          .box-textos-empreendimentos {
            position: absolute;
            bottom: 0;
            left: 0;
            bottom: 24px;
            padding: 0 24px;
            width: 100%;
            transition: 0.6s;
            .container-text {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              z-index: 2;
              position: relative;
              .box-svg {
                transition: 0.6s;
                opacity: 0;
              }
            }
            .localizacao-empreendimento {
              color: $grey-0;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 12px */
              letter-spacing: 0.48px;
              text-transform: uppercase;
              margin-bottom: 16px;
            }

            .nome-empreendimento {
              color: $grey-0;
              font-size: 28px;
              font-style: normal;
              font-weight: 300;
              line-height: 100%;
              letter-spacing: 0.56px;
              margin-bottom: 18px;
            }

            .box-informacoes {
              display: flex;
              align-items: flex-start;
              gap: 32px;
              .informacoes {
                display: flex;
                flex-direction: row;
                gap: 8px;
                p {
                  color: $grey-0;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  letter-spacing: 0.32px;
                }
              }
            }
          }
        }

        &.hover-card {
          .box-card {
            &::after {
              background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
            }
          }
          .box-textos-empreendimentos {
            bottom: -20px;
            .container-text {
              .box-svg {
                opacity: 1;
              }
            }
            .box-informacoes {
              .informacoes {
                opacity: 0;
              }
            }
          }
        }
      }

      .box-buttons {
        display: none;
        flex-direction: row-reverse;
        position: absolute;
        right: 3px;
        top: 50%;
        width: 100%;
        height: 74px;
        gap: 16px;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        padding: 0 20px;
        cursor: pointer;
        svg {
          filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
          transition: 0.6s;
          width: 80px;
          height: 80px;
          pointer-events: auto;
          circle {
            transition: 0.6s;
          }
          &:hover {
            scale: 1.02;
            circle {
              stroke-width: 2;
            }
          }
        }
        @include media-breakpoint-up(sm) {
          display: flex;
        }

        .swiper-button-disabled {
          opacity: 0;
        }
      }
    }
    .link-empreendimentos-mobile {
      width: 100%;
      padding: 20px;
      p {
        font-size: 11px;
      }
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  .nosso-proposito {
    position: relative;
    margin: 64px 0;
    @include media-breakpoint-up(md) {
      padding: 120px 0 195px;
    }
    .shape-due {
      position: absolute;
      right: 0;
      top: -120px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 0;
      gap: 56px;
      @include media-breakpoint-up(sm) {
        padding: 0 48px;
      }
      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: 120px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 80px;
      }
      .box-proposito-left {
        width: 100%;
        @include media-breakpoint-down(sm) {
          padding: 0 24px;
        }
        .subtitulo-proposito {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0.28px;
          transition: 0.6s;
          color: $due-tertiary;
          margin-bottom: 16px;
          @include media-breakpoint-up(sm) {
            font-size: 16px;
          }
        }
        .titulo-proposito {
          font-size: 28px;
          font-style: normal;
          font-weight: 300;
          color: $due-tertiary;
          line-height: 140%;
          letter-spacing: 0.56px;
          transition: 0.6s;
          margin-bottom: 16px;
          max-width: 463px;
          @include media-breakpoint-up(sm) {
            font-size: calc(1rem + 1.6vw);
          }
          @include media-breakpoint-up(xxl) {
            max-width: 600px;
          }
        }
        .descricao-proposito {
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%; /* 25.2px */
          letter-spacing: 0.36px;
          max-width: 463px;
          margin-bottom: 40px;
          transition: 0.6s;
          @include media-breakpoint-up(sm) {
            font-size: calc(1rem + 0.2vw);
          }
          @include media-breakpoint-up(xxl) {
            max-width: 600px;
          }
        }
        .button {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
      }
      .box-proposito-right {
        width: 100%;
        position: relative;
        .video-proposito {
          max-height: 584px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .img-proposito {
          box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
          position: absolute;
          left: -111px;
          bottom: -75px;
          transition: 0.6s;
          @include media-breakpoint-down(md) {
            left: initial;
            right: 24px;
            bottom: -24px;
            width: 200px;
            height: 250px;
          }
          @include media-breakpoint-down(sm) {
            width: 145.979px;
            height: 198px;
          }
        }
      }
    }
  }

  .encante-se {
    padding-bottom: 230px;
    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
    }
    overflow: hidden;
    transition: 0.6s;
    .container-encante-se {
      padding: 190px 0;
      position: relative;
      transition: 0.6s;
      @include media-breakpoint-down(md) {
        padding: 190px 0 80px;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-direction: column;
        max-width: 1440px;
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
        .box-img-encante-se {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: 1.5s;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 31%, rgba(247, 247, 247, 0) 100%);
            z-index: 1;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .box-conteudo-left {
          position: relative;
          z-index: 2;

          .box-svg {
            margin-bottom: 32px;
          }
          .titulo-encante-se {
            font-size: 32px;
            @include media-breakpoint-up(sm) {
              font-size: 40px;
            }
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.8px;
            transition: 0.6s;
            color: $grey-0;
            margin-bottom: 16px;
          }
          .descricao-encante-se {
            font-size: 20px;
            @include media-breakpoint-up(sm) {
              font-size: 28px;
            }
            max-width: 640px;
            color: $grey-0;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.56px;
            margin-bottom: 40px;
            transition: 0.6s;
          }
          .link-encante-se {
            transition: 0.6s !important;
            @include media-breakpoint-up(xxl) {
              font-size: 14px;
            }
          }
          @include media-breakpoint-down(sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
            .titulo-encante-se {
              text-align: center;
            }
            .descricao-encante-se {
              max-width: 300px;
              text-align: center;
            }
          }
        }
        .box-conteudo-right {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          max-width: 440px;
          background-color: $grey-0;
          padding: 40px 56px;
          clip-path: inset(0 0 100% 0);
          transition: clip-path 1s cubic-bezier(0.76, 0, 0.24, 1);
          &.clipPath {
            clip-path: inset(0 0 -100px -100px);
          }
          @include media-breakpoint-down(sm) {
            padding: 40px 30px;
            margin-bottom: -300px;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
          }

          &.more-space {
            max-width: 500px;
          }
          .lista-comentarios {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            &:not(:first-of-type):not(:last-of-type) {
              padding: 20px 0;
            }
            &:not(:last-of-type) {
              border-bottom: 1px solid #e9e3dd;
            }
            &:first-of-type {
              padding-top: 0;
              padding-bottom: 20px;
            }

            &:last-of-type {
              padding-top: 20px;
              padding-bottom: 30px;
            }
            .titulo-comentarios {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              letter-spacing: 0.4px;
              color: $due-tertiary;
            }
          }
          .svg-caribe {
            position: absolute;
            bottom: -50px;
            left: -60px;
            @include media-breakpoint-down(md) {
              display: none;
            }
            svg {
              width: 140px;
              filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
              height: 140px;
            }
          }
        }
      }
    }
  }
  .zoom {
    .box-img-encante-se {
      scale: 1.1;
    }
  }
}
