@font-face {
  font-family: terminal-test;
  font-weight: 300;
  font-style: normal;
  src: url('../../src/fonts/Termina-Light.woff2') format('woff2');
}
@font-face {
  font-family: terminal-test;
  font-weight: 400;
  font-style: normal;
  src: url('../../src/fonts/Termina-Regular.woff2') format('woff2');
}
@font-face {
  font-family: terminal-test;
  font-weight: 500;
  font-style: normal;
  src: url('../../src/fonts/Termina-Medium.woff2') format('woff2');
}
@font-face {
  font-family: founders-grotesk;
  font-weight: 300;
  font-style: normal;
  src: url('../../src/fonts/founders-grotesk-light.woff2') format('woff2');
}

@font-face {
  font-family: founders-grotesk;
  font-weight: 400;
  font-style: normal;
  src: url('../../src/fonts/founders-grotesk-regular.woff2') format('woff2');
}

@font-face {
  font-family: founders-grotesk;
  font-weight: 500;
  font-style: normal;
  src: url('../../src/fonts/founders-grotesk-medium.woff2') format('woff2');
}
