@import '../../global/breakpoints';
@import '../../global/colors';
body.page-template-iniciativas {
  header {
    .button-menu {
      color: $due-tertiary !important;
    }
    .link-logo-menu {
      .box-svg-header {
        svg {
          path {
            fill: $due-tertiary;
          }
        }
      }
    }

    .box-sidebar {
      .navlinks {
        .btn-menu-navlink {
          .button-menu {
            &::after {
              background-color: $due-tertiary;
            }
          }
        }
        #iniciativas {
          .button-menu {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    &.sticky {
      .link-logo-menu {
        .box-svg-header {
          svg {
            path {
              fill: $grey-0;
            }
          }
        }
      }
    }
    .wpml-box {
      .wpml-ls {
        ul {
          li {
            a {
              span {
                color: #003b4b;
              }
            }
            &:hover {
              background-color: #003b4b;
              a {
                span {
                  color: #fff;
                }
              }
            }
          }
          .wpml-ls-current-language {
            background-color: #003b4b;

            a {
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .banner-iniciativas {
    display: flex;
    flex-direction: column;
    padding: 134px 0 0;
    transition: 0.6s;
    position: relative;

    @include media-breakpoint-up(sm) {
      padding: 192px 48px 120px;
    }
    @include media-breakpoint-up(lg) {
      padding: 192px 80px 120px;
      max-width: 2000px;
      margin: 0 auto;
    }
    .logo-shape-due {
      position: absolute;
      top: 138px;
      left: 50%;
      transform: translate(-50%, 0);
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
    .container-banner {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      min-height: 700px;
      @include media-breakpoint-up(md) {
        gap: 85px;
        flex-direction: row;
      }
      .box-titulo {
        width: 100%;

        .container-text {
          @include media-breakpoint-down(sm) {
            padding: 0 20px;
          }
          .titulo-banner-inciativas {
            color: $due-tertiary;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.64px;
            font-size: 24px;
            margin-bottom: 32px;
            opacity: 0;
            transform: translateX(-200%);
            @include media-breakpoint-up(md) {
              max-width: 900px;
              font-size: calc(1rem + 0.9vw);
            }
          }
          .descricao-banner-inciativas {
            opacity: 0;
            max-width: 592px;
            color: $due-tertiary;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.44px;
            font-size: 20px;
            transform: translateX(-200%);
            margin-bottom: 48px;

            @include media-breakpoint-up(md) {
              font-size: calc(1rem + 0.5vw);
              max-width: 590px;
            }
          }
        }
      }
      .container-image {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 625px;
        .box-imagem {
          clip-path: inset(0 0 100% 0);
          transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
          width: 100%;
          height: 482px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        &.imgPath {
          .box-imagem {
            clip-path: inset(0 0 -100px -100px);
          }
        }
        .box-imagem-banner-iniciativas {
          justify-content: flex-end;
          padding-top: 40px;
          margin-right: -80px;
          transition: 0.6s;
          display: none;
          height: 412px;
          position: absolute;
          left: -327px;
          bottom: -240px;
          img {
            width: 296px;
            object-fit: cover;
            transition: 0.6s;
            @include media-breakpoint-up(xxl) {
              width: 325px;
            }
          }
          @include media-breakpoint-up(md) {
            display: flex;
            clip-path: inset(0 0 100% 0);
            transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
            &.imgPath {
              clip-path: inset(0 0 -100px -100px);
            }
          }
          @include media-breakpoint-up(xxl) {
            left: -367px;
            height: 495px;
          }
        }
      }
    }
  }
  .vila-alafia {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;
    transition: 0.6s;

    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    &.background-open {
      background-color: $background;
    }
    @include media-breakpoint-up(md) {
      padding: 180px 0 120px;
      flex-direction: row;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      padding: 0 20px;
      @include media-breakpoint-up(sm) {
        padding: 0 0 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 0 0 80px;
      }
      .box-svg-vila-alafia {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-vila-alafia {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          font-size: calc(1rem + 1.6vw);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-vila-alafia {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }

        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-vila-alafia-desktop {
        transition: 0.6s;
        display: none;

        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          display: flex;
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
    }
    .box-conteudo-right {
      width: 100%;
      transition: 0.6s;
      .image-vila-alafia {
        width: 100%;
        height: 315px;
        object-fit: cover;
        clip-path: inset(0 0 100% 0);
        transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
        &.imgPath {
          clip-path: inset(0 0 -100px -100px);
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @include media-breakpoint-up(md) {
          height: 90vh;
        }
      }

      .link-vila-alafia-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .instituto-padre-arlindo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;

    @include media-breakpoint-up(md) {
      padding: 120px 0;
      flex-direction: row-reverse;
    }
    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 20px;
      justify-content: center;
      transition: 0.6s;
      @include media-breakpoint-up(sm) {
        padding: 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 80px 0 0;
      }
      .box-svg-instituto-padre-arlindo {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-instituto-padre-arlindo {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
          font-size: calc(1rem + 1.6vw);
        }

        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-instituto-padre-arlindo {
        max-width: 440px;
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }

        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-instituto-padre-arlindo-desktop {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    .box-conteudo-right {
      clip-path: inset(0 0 100% 0);
      transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
      width: 100%;
      height: 315px;

      &.imgPath {
        clip-path: inset(0 0 -100px -100px);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-up(md) {
        height: 90vh;
      }
      .link-instituto-padre-arlindo-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .associacao-superacao {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;
    transition: 0.6s;

    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    &.background-open {
      background-color: $background;
    }
    @include media-breakpoint-up(md) {
      padding: 180px 0 120px;
      flex-direction: row;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      padding: 0 20px;
      @include media-breakpoint-up(sm) {
        padding: 0 0 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 0 0 80px;
      }
      .box-svg-associacao-superacao {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-associacao-superacao {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          font-size: calc(1rem + 1.6vw);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-associacao-superacao {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }

        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-associacao-superacao-desktop {
        transition: 0.6s;
        display: none;

        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          display: flex;
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
    }
    .box-conteudo-right {
      width: 100%;
      transition: 0.6s;
      .image-associacao-superacao {
        width: 100%;
        height: 315px;
        object-fit: cover;
        clip-path: inset(0 0 100% 0);
        transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
        &.imgPath {
          clip-path: inset(0 0 -100px -100px);
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @include media-breakpoint-up(md) {
          height: 90vh;
        }
      }

      .link-associacao-superacao-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .escola-formacao-due {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;

    @include media-breakpoint-up(md) {
      padding: 120px 0;
      flex-direction: row-reverse;
    }
    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 20px;
      justify-content: center;
      transition: 0.6s;
      @include media-breakpoint-up(sm) {
        padding: 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 80px 0 0;
      }
      .box-svg {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-escola-formacao-due {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
          font-size: calc(1rem + 1.6vw);
        }

        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-escola-formacao-due {
        max-width: 440px;
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }

        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-escola-desktop {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    .box-conteudo-right {
      clip-path: inset(0 0 100% 0);
      transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
      width: 100%;
      height: 315px;

      &.imgPath {
        clip-path: inset(0 0 -100px -100px);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-up(md) {
        height: 90vh;
      }
      .link-escola-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .incentivo-empreendedorismo {
    transition: 0.6s;
    &.background-open {
      background-color: $background;
    }
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;
    @include media-breakpoint-up(md) {
      padding: 120px 0 120px;
      flex-direction: row;
    }
    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      transition: 0.6s;
      padding: 0 20px;
      @include media-breakpoint-up(sm) {
        padding: 0 0 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 0 0 80px;
      }
      .box-svg {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-incentivo-empreendedorismo {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          font-size: calc(1rem + 1.6vw);
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-incentivo-empreendedorismo {
        max-width: 440px;
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
        }

        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-empreendedorismo-desktop {
        transition: 0.6s;
        display: none;

        @include media-breakpoint-up(md) {
          transform: translateX(-180%);
          display: flex;
        }
        &.fade-left {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
    }
    .box-conteudo-right {
      width: 100%;
      height: 315px;
      object-fit: cover;
      clip-path: inset(0 0 100% 0);
      transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
      &.imgPath {
        clip-path: inset(0 0 -100px -100px);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-up(md) {
        height: 90vh;
      }
      .link-empreendedorismo-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
    }
  }

  .proposito {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 0;
    @include media-breakpoint-up(md) {
      padding: 120px 0 120px;
      flex-direction: row-reverse;
    }
    @include media-breakpoint-up(desk) {
      gap: 140px;
    }
    .box-conteudo-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      padding: 0 20px;
      @include media-breakpoint-up(sm) {
        padding: 0 48px 0 0;
      }

      .box-svg {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .titulo-proposito {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        font-size: 24px;
        transition: 0.6s;
        max-width: 890px;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
          font-size: calc(1rem + 1.6vw);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
      }
      .descricao-proposito {
        max-width: 440px;
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(300%);
        }

        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        p {
          font-family: 'founders-grotesk', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.36px;
        }
        @include media-breakpoint-up(md) {
          max-width: 700px;
          p {
            font-size: calc(1rem + 0.35vw);
          }
        }
      }
      .link-proposito-desktop {
        transition: 0.6s;
        @include media-breakpoint-up(md) {
          transform: translateX(400%);
        }
        &.fade-right {
          @include media-breakpoint-up(md) {
            transform: translateX(0);
          }
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    .box-conteudo-right {
      clip-path: inset(0 0 100% 0);
      transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
      &.imgPath {
        clip-path: inset(0 0 -100px -100px);
      }
      height: 100%;

      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-up(md) {
        height: 90vh;
      }
      .link-proposito-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: initial;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        align-items: center;
      }
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .selos-certificados {
    padding: 146px 0 120px;
    @include media-breakpoint-up(md) {
      padding: 80px 0 120px;
    }
    .titulo-selos {
      color: $due-tertiary;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      letter-spacing: 0.64px;
      font-size: 24px;
      margin-bottom: 64px;
      text-align: center;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    .box-repetidor-selos {
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      gap: 64px;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: 0;
      }
      .lista-selos-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        gap: 32px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        clip-path: inset(0 0 100% 0);
        transition: clip-path 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        padding-bottom: 64px;
        position: relative;
        &:not(:last-child) {
          border-bottom: 1px solid #e9e3dd;
        }
        &.clipPath-selos-certificados {
          clip-path: inset(0 0 -100px -100px);
        }
        @include media-breakpoint-up(md) {
          padding: 0 60px;
          border-bottom: none;
          height: 400px;
          &:not(:last-child) {
            border-right: 2px solid #e9e3dd;
            border-bottom: none;
          }
        }
        .box-titulo-svg {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 32px;
          transition: 0.6s;
          .box-svg {
            svg {
              min-height: 108px;
            }
          }

          .titulo-card {
            color: $due-tertiary;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.4px;
            text-align: center;
            display: none;
            @include media-breakpoint-up(md) {
              display: flex;
            }
          }
        }

        .hover-descricao {
          transition: 0.6s ease;
          max-width: 80%;
          height: 100%;
          overflow: hidden;
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 0;
          transform: translate(-50%, 0);
          @include media-breakpoint-up(md) {
            display: flex;
            align-items: flex-end;
          }
          p {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.32px;
            color: $due-tertiary;
            transition: 0.6s;
          }
        }
        @include media-breakpoint-up(md) {
          &:hover {
            .box-titulo-svg {
              padding-bottom: 96px;
            }
            .hover-descricao {
              height: 100%;
            }
          }
        }
        .lista-selos-mobile {
          display: flex;
          flex-direction: column;
          @include media-breakpoint-up(md) {
            display: none;
          }
          .box-titulo-accordion {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .titulo-card {
              color: $due-tertiary;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              letter-spacing: 0.4px;
              text-align: center;
            }
          }
          .hover-descricao-mobile {
            display: none;
            max-width: 95%;
            margin: 0 auto;
            padding-bottom: 20px;
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%;
              letter-spacing: 0.32px;
              color: $due-tertiary;
              text-align: center;
            }
          }

          &.active {
            .box-titulo-accordion {
              padding-bottom: 20px;
            }
            .svg-faq {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
