@import '../../global/breakpoints';
@import '../../global/colors';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  gap: 40px;
  transition: background-color 0.3s ease;
  transition: 0.6s;
  padding: 24px;

  @include media-breakpoint-up(md) {
    padding: 24px 80px 0;
  }

  .box-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;

    .box-svg-header {
      cursor: pointer;
      height: 32px;

      svg {
        width: 98px;
        height: 40px;
      }
    }

    .box-sidebar {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
      }

      align-items: center;
      gap: 20px;
      transition: 0.6s;

      &.active-sidebar {
        gap: 0;
        background-color: #003b4b;

        .navlinks {
          padding: 24px;
          background: #faf2eb;

          .btn-menu-navlink {
            .button-menu {
              color: #003b4b;
              font-weight: 600;
            }
          }
        }

        .navigation__menu-label {
          margin: 24px 16px;
        }
      }

      .navlinks {
        flex-direction: row;
        align-items: center;
        gap: 32px;
        display: none;
        transition: 0.6s;
        position: relative;

        @include media-breakpoint-up(md) {
          display: flex;
        }
        #destinos {
          display: flex;
          align-items: center;
        }
        .last-item {
          display: none;
        }

        .button-menu {
          color: $grey-0;
          transition: 0.6s;
        }

        .btn-menu-navlink {
          transition: all 0.5s ease;
          height: 17px;
        }

        #jeito-due {
          display: flex;
          align-items: center;

          a {
            height: 14px;
            display: flex;
            align-items: flex-end;
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
          }

          i {
            transition: 0.6s;
            display: flex;
            margin-bottom: 2px;
            align-items: center;

            svg {
              transition: 0.6s;
            }
          }
        }

        #destinos {
          a {
            height: 14px;
            display: flex;
            align-items: flex-end;
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
          }

          i {
            transition: 0.6s;
            display: flex;
            margin-bottom: 2px;
            align-items: center;

            svg {
              transition: 0.6s;
            }
          }

          &:hover {
            .rotate-svg-destinos {
              transform: rotate(180deg);

              path {
                stroke: $due-tertiary;
              }
            }
          }
        }
      }
    }

    .box-menu-lateral {
      pointer-events: auto;
      display: flex;

      @include media-breakpoint-up(md) {
        display: none;
      }

      height: 64px;
      align-items: center;
      justify-content: center;
      background-color: $due-tertiary;

      .box-link-invista {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: $background;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .btn-menu-navlink {
          display: none;
        }

        #empreendimentos {
          display: flex;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          /* 11px */
          letter-spacing: 0.44px;
          text-transform: uppercase;
          color: $due-tertiary;

          .button-menu {
            position: relative;
            font-size: 10px;
            padding: 25px 12px 24px;

            @include media-breakpoint-up(md) {
              padding: 25px 24px 24px;
              font-size: 11px;
            }

            &::after {
              content: '';
              bottom: 16px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 50%;
              transform: translate(-50%, 0);
              position: absolute;
              background-color: $due-tertiary !important;
            }

            &:hover {
              &::after {
                width: 74%;
              }
            }
          }
        }
      }

      .container-menu-lateral {
        cursor: pointer;
      }

      .navigation__menu-label {
        margin: 24px 18px;
        cursor: pointer;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        height: 12px;
        position: relative;
        z-index: 3;
        transition: 0.6s ease;

        // position: absolute;
        // opacity: 0;
        .navigation__label-bar {
          width: 100%;
          height: 3px;
          position: relative;
          transition: 0.6s ease;
          background-color: #fff;
        }
      }

      .index-sidebar {
        z-index: 0;
      }

      .sidebar {
        position: absolute;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background: $background;
        right: 0;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        transition: 0.6s ease;
        z-index: 2;
        width: 100%;
        padding: 32px 20px;
        min-height: 600px;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
          padding: 40px 40px 40px 92px;
          width: 50%;
        }

        @media (max-height: 600px) {
          justify-content: flex-start;
          overflow-y: scroll;
          overflow-x: hidden;
        }

        .container-sidebar {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          @include media-breakpoint-down(sm) {
            max-height: 90%;
          }

          @media (max-height: 760px) {
            gap: 20px;
          }
        }

        .shape-mapa {
          position: absolute;
          bottom: 0;
          right: 0;

          @media (max-height: 600px) {
            display: none;
          }
        }

        .box-navbar-numeros {
          display: flex;
          gap: 60px;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          @include media-breakpoint-up(md) {
            align-items: center;

            flex-direction: row;
          }

          .box-numeros {
            display: flex;
            gap: 16px;
            flex-direction: column;

            @include media-breakpoint-up(md) {
              flex-direction: row;
              align-items: center;
            }
          }

          .link-numero {
            .button-menu-numero {
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 11px;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              letter-spacing: 0.24px;
              text-transform: uppercase;
              color: $due-tertiary;
              position: relative;
              flex-direction: row;

              &::after {
                content: '';
                bottom: -2px;
                width: 0;
                height: 2px;
                transition: 0.6s;
                left: 0;
                position: absolute;
                background-color: $due-tertiary;
              }

              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }

          .box-wpml-mobile {
            ul {
              display: flex;
              flex-direction: row;
              gap: 8px;

              li {
                border-radius: 32px;
                min-width: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 11px;
                transition: 0.6s;
                cursor: pointer;

                a {
                  transition: 0.6s;
                  padding: 0px;

                  span {
                    transition: 0.6s;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    /* 10px */
                    letter-spacing: 0.2px;
                    font-family: 'terminal-test', sans-serif;
                    color: #003b4b;
                  }
                }
              }

              .wpml-ls-current-language {
                border: 1.4px solid #003b4b;
                border-radius: 44px;

                a {
                  span {
                    color: #003b4b;
                  }
                }
              }
            }
          }
        }

        .conjunto-links {
          // margin-bottom: 77px;
          @media (max-height: 760px) {
            margin-bottom: 0;
          }

          .label-descrubra {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 12px */
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: #bc9467;
            margin-bottom: 50px;
            display: none;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }

          .box-navbar-menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 44px;

            .links-menu {
              .button-menu {
                color: $due-tertiary;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0.72px;
                font-size: 22px;
                transition: 0.6s;

                @include media-breakpoint-up(md) {
                  font-size: 22px;
                }

                @media (max-height: 760px) {
                  font-size: 22px;
                }

                &:hover {
                  &::after {
                    background-color: $due-tertiary;
                  }
                }
              }
            }
          }

          .box-opcionais {
            display: flex;
            flex-direction: column;
            gap: 28px;

            @include media-breakpoint-up(md) {
              gap: 20px;
            }

            .button-menu {
              color: $due-tertiary;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              letter-spacing: 0.48px;
              text-transform: uppercase;
              transition: 0.6s;

              @include media-breakpoint-up(md) {
                font-size: calc(0.5rem + 0.3vw);
              }

              &:hover {
                &::after {
                  background-color: $due-tertiary;
                }
              }
            }
          }
        }

        .box-navbar-redes-sociais {
          display: flex;
          justify-content: space-between;
          width: 100%;
          position: relative;
          z-index: 2;
          align-items: center;

          .box-redes {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 22px;

            svg {
              transition: 0.6s;
              width: 20px;

              &:hover {
                scale: 1.05;
              }

              @include media-breakpoint-up(desk) {
                width: 28px;
                height: 28px;
              }
            }

            .link-numero {
              cursor: pointer;
            }
          }

          .receba-novidades {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: $due-tertiary;
            cursor: pointer;
            position: relative;
            transition: 0.6s;

            @include media-breakpoint-up(md) {
              font-size: calc(0.5rem + 0.3vw);
            }

            &::after {
              content: '';
              bottom: -2px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: $due-tertiary;
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }

        .desktop-header {
          font-size: 24px;
        }

        .btn-proposito {
          color: #fff;

          .link-btn {
            gap: 12px;
          }
        }

        .box-newsletter {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: $background;
          z-index: 5;
          transform: translateX(100%);
          transition: 0.6s;

          .close-newsletter {
            cursor: pointer;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            width: 30px;
            height: 12px;
            position: relative;
            z-index: 3;
            transition: 0.6s ease;
            position: absolute;
            position: absolute;
            top: 50px;
            right: 50px;

            .navigation__label-bar {
              width: 100%;
              height: 3px;
              position: relative;
              transition: 0.6s ease;
              background-color: #fff;
            }

            .navigation__label-bar1 {
              top: 6px;
              transform: rotate(45deg);
              background-color: $due-tertiary;
              height: 2px;
            }

            .navigation__label-bar3 {
              bottom: 3.85px;
              transform: rotate(-45deg);
              height: 2px;
              background-color: $due-tertiary;
            }
          }

          .box-imagem {
            height: 290px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .box-conteudo {
            padding: 40px 20px;

            @include media-breakpoint-up(md) {
              padding: 70px 67px;
            }

            .label-newsletter {
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              /* 12px */
              letter-spacing: 0.48px;
              text-transform: uppercase;
              margin-bottom: 16px;
              transition: 0.6s;
              color: #bc9467;

              @include media-breakpoint-up(desk) {
                font-size: calc(0.7rem + 0.2vw);
              }
            }

            .titulo-newsletter {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              letter-spacing: 0.48px;
              color: $due-tertiary;
              transition: 0.6s;
              margin-bottom: 20px;

              @include media-breakpoint-up(sm) {
                margin-bottom: 66px;
              }

              @include media-breakpoint-up(desk) {
                font-size: calc(1rem + 0.6vw);
              }
            }
          }

          .box-newsletter-rd {
            #rd-section-lwt99djx {
              background-color: transparent;

              #rd-column-lwt99dk3 {
                div {
                  background-color: transparent;
                  padding: 0;

                  .bricks-form__fieldset {
                    @include media-breakpoint-up(md) {
                      margin-bottom: 31px;
                    }

                    .bricks-form__input {
                      background-color: transparent;
                      color: $due-secondary;
                      border-color: rgba(0, 59, 75, 0.15);
                      font-family: 'terminal-test', sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      height: 50px;
                      line-height: 140%;
                      /* 22.4px */
                      letter-spacing: 0.32px;
                      border-radius: 0px !important;

                      @include media-breakpoint-down(sm) {
                        font-size: 12px;
                      }
                    }
                  }

                  .bricks-form__submit {
                    background-color: transparent;

                    @include media-breakpoint-up(sm) {
                      width: fit-content;
                    }

                    .bricks--component {
                      padding: 20px 48px;
                      border-color: #003b4b;
                      font-family: 'terminal-test', sans-serif;
                      background-color: transparent;
                      color: $due-tertiary;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 140%;
                      /* 16.8px */
                      letter-spacing: 0.48px;
                      text-transform: uppercase;
                      transition: 0.6s;
                      margin: 0;

                      @include media-breakpoint-down(sm) {
                        padding: 12px 48px;
                      }

                      &:hover {
                        background-color: $due-tertiary;
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .active-newsletter {
          transform: translateX(0);
        }
      }

      .active-btn {
        .navigation__label-bar1 {
          top: 6px;
          transform: rotate(45deg);
          background-color: $due-tertiary;
          height: 2px;
        }

        .navigation__label-bar3 {
          bottom: 3.85px;
          transform: rotate(-45deg);
          height: 2px;
          background-color: $due-tertiary;
        }
      }

      .active-sidebar {
        transform: translateX(0);
      }
    }

    .link-logo-menu {
      height: 100%;
      pointer-events: auto;

      .box-svg-header {
        height: 100%;

        svg {
          height: 64px;

          transition: 0.6s;

          path {
            transition: 0.6s;
          }

          .stickOff {
            transition: 0.6s;
          }

          #Vector_2 {
            transition: 0.6s;
          }
        }
      }

      &.logo-sticky {
        .box-svg-header {
          svg {
            background: rgba(0, 59, 75, 1);
            width: 70px;
            height: 64px;

            .stickOff {
              opacity: 0;
            }

            #Vector_2 {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .box-video-destinos {
    width: 100%;
    min-height: 440px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    z-index: -1;
    pointer-events: none;

    .row-videos {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.6s cubic-bezier(0.76, 0, 0.24, 1);

      .box-imagem-destino {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
          z-index: 1;
        }

        .imagem-background {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.6s;
        }
      }

      .box-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;

        .titulo-videos-destinos {
          font-size: 40px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.4px;
          color: $grey-0;
        }

        .subtitulo-videos-destinos {
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0.55px;
          text-transform: uppercase;
          color: $grey-0;
        }

        .text-link {
          color: $grey-0;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          /* 17.6px */
          letter-spacing: 0.33px;
          text-transform: uppercase;
          opacity: 0;
          height: 0;
          transition: 0.6s;
          border-bottom: 1px solid #fff;
        }
      }

      &:hover {
        .text-link {
          opacity: 1;
          height: 20px;
          margin-top: 56px;
        }
      }

      .box-cards-praia {
        position: absolute;
        z-index: 2;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: 16px;
        top: 12px;
        right: 12px;

        .box-infos-cards {
          width: 100%;
          max-width: 82px;

          .titulo-infos-praia {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 24px */
            letter-spacing: 0.4px;
            color: $due-tertiary;
            background-color: $grey-0;
            padding: 6px;
            text-align: center;
            border-radius: 6px 6px 0px 0px;
          }

          .premio-infos-praia {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 27.212px */
            letter-spacing: 0.389px;
            color: $grey-0;
            text-align: center;
            background-color: #51848c;
            border-radius: 0px 0px 6px 6px;
            padding: 9px 0;
          }

          &.bg-blue {
            .premio-infos-praia {
              background-color: #003b4b;
            }
          }
        }
      }
    }
  }

  .box-cards-jeito-due {
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    top: 140px;
    z-index: -1;
    pointer-events: none;

    .box-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;

      .row-cards-jeito-due {
        display: flex;
        flex-direction: row;
        gap: 16px;
        cursor: pointer;

        .box-img {
          width: 110px;
          height: 110px;
          flex-shrink: 0;
          clip-path: inset(100% 0 0 0);
          transition: clip-path 1s cubic-bezier(0.76, 0, 0.24, 1);

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .box-conteudo {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .box-hover-jeito-due {
            transition: 0.6s;
            @include media-breakpoint-up(xxl) {
              max-width: 80%;
            }

            .label-card-jeito {
              color: #cb9e6c;
              font-size: 8px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              /* 11.2px */
              letter-spacing: 0.96px;
              text-transform: uppercase;
              margin-bottom: 4px;
              opacity: 0;
            }

            .titulo-card-jeito-due {
              font-size: 11px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              /* 15.4px */
              letter-spacing: 0.44px;
              text-transform: uppercase;
              opacity: 0;
              color: #002b36;
              margin-bottom: 8px;
            }

            .descricao-card-jeito-due {
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: 120%;
              /* 16.8px */
              letter-spacing: 0.56px;
              color: #002b36;
              opacity: 0;
              margin-bottom: 14px;
            }
          }

          .box-svg {
            opacity: 0;
          }
        }

        &:hover {
          .box-hover-jeito-due {
            margin-bottom: 8px;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .wrapper {
        padding: 0 24px;
      }
    }
  }

  &.hover-destinos {
    padding: 24px 80px 30px;
    gap: 0;

    .navlinks {
      #destinos {
        .button-menu {
          color: $due-tertiary !important;
          position: relative;

          &::after {
            width: 100%;
          }
        }
      }
    }

    .link-logo-menu {
      .box-svg-header {
        svg {
          path {
            fill: $due-tertiary;
          }
        }
      }
    }
  }

  &.hover-box-cards {
    .box-cards-jeito-due {
      z-index: 2;
      pointer-events: initial;
    }

    .rotate-svg {
      transform: rotate(180deg);
    }
  }

  &.sticky {
    padding: 24px 20px 0;

    pointer-events: none;

    @include media-breakpoint-up(md) {
      padding: 24px 40px 0;

      .box-sidebar {
        .navlinks {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          z-index: -1;
          transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s 0.5s; // z-index troca após a transição

          .last-item {
            display: flex;
          }
        }

        .wpml-box {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          z-index: -1;
          transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s 0.5s; // z-index troca após a transição
        }
      }

      .box-menu-lateral {
        display: flex;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s; // z-index troca imediatamente
      }
    }

    .link-logo-menu {
      background: #003b4b;

      .box-svg-header {
        svg {
          width: 64px;

          .box-path {
            .sticky-off {
              display: none;
              position: absolute;
            }
          }
        }
      }
    }
  }

  &.header-off {
    opacity: 0;
    z-index: -2;
    pointer-events: none;
  }

  .box-sidebar .navlinks {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s; // z-index troca imediatamente
  }

  .box-sidebar .wpml-box {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s; // z-index troca imediatamente
  }

  .box-menu-lateral {
    @include media-breakpoint-up(md) {
      opacity: 0;
      visibility: hidden;
      display: none;
      z-index: -1;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, z-index 0s 0.5s; // z-index troca após a transição

      &.sticky {
        display: flex;
        z-index: 1;
      }
    }
  }

  .call-form {
    display: flex;
    height: 1px;
  }

  .wpml-box {
    .wpml-ls {
      ul {
        display: flex;
        flex-direction: row;
        gap: 8px;

        li {
          border-radius: 32px;
          min-width: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 0px;
          transition: 0.6s;
          cursor: pointer;

          a {
            transition: 0.6s;
            padding: 0px;

            span {
              transition: 0.6s;
              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              /* 10px */
              letter-spacing: 0.2px;
              font-family: 'terminal-test', sans-serif;
              color: #fff;
            }
          }

          &:hover {
            background-color: #fff;

            a {
              span {
                color: #003b4b;
              }
            }
          }
        }

        .wpml-ls-current-language {
          background-color: #fff;

          a {
            span {
              color: #003b4b;
            }
          }
        }
      }
    }
  }
}
