@import '../../global/breakpoints';
@import '../../global/colors';
.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  background-color: transparent;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s, padding 1s;
  height: 72px;
 

  .box-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
   
    .box-svg-header {
      cursor: pointer;
      height: 32px;
      svg {
        width: 98px;
        height: 40px;
        .incorporadora {
          display: none;
        }
      }
    }
    .navlinks {
      flex-direction: row;
      align-items: center;
      gap: 32px;
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .button-menu {
        color: $grey-0;
      }
    }
    .navigation__menu-label {
      // user-select: none;
      cursor: pointer;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      width: 30px;
      height: 12px;
      position: relative;
      z-index: 3;
      transition: 0.6s ease;
      // @include media-breakpoint-up(md) {
      //   display: none;
      // }
      .navigation__label-bar {
        width: 100%;
        height: 3px;
        position: relative;
        transition: 0.6s ease;
        background-color: #000;
      }
    }

    .sidebar {
      position: absolute;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: $grey-0;
      width: 80%;
      right: 0;
      top: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 24px;
      gap: 24px;
      transform: translateX(100%);
      transition: 0.6s ease;
      z-index: 2;
      .desktop-header {
        font-size: 24px;
      }
      .btn-proposito {
        color: #fff;
        .link-btn {
          gap: 12px;
        }
      }
    }
    .active-btn {
      .navigation__label-bar1 {
        top: 6px;
        transform: rotate(45deg);
      }


      .navigation__label-bar3 {
        bottom: 3.85px;
        transform: rotate(-45deg);
      }
    }
    .active-sidebar {
      transform: translateX(0);
    }
  }
}
