@import '../../global/breakpoints';
@import '../../global/colors';
body.error404 {
    header {
        .button-menu {
          color: $due-tertiary !important;
        }
        .link-logo-menu {
          .box-svg-header {
            svg {
              path {
                fill: $due-tertiary;
              }
            }
          }
        }
    
        .box-sidebar {
          .navlinks {
            .btn-menu-navlink {
              .button-menu {
                &::after {
                  background-color: $due-tertiary;
                }
              }
            }
            #iniciativas {
              .button-menu {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
        &.sticky {
          .link-logo-menu {
            .box-svg-header {
              svg {
                path {
                  fill: $grey-0;
                }
              }
            }
          }
        }
      }
  .container-404 {
    padding: 200px 0;
    .page-404 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .titulo-error {
        font-size: 60.212px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.602px;
        color: $due-tertiary;
        margin-bottom: 12px;
        text-align: center;
      }
      .subtitulo-error {
        font-size: 16.935px;
        font-style: normal;
        font-weight: 600;
        line-height: 155%; /* 26.249px */
        letter-spacing: 0.677px;
        color: $due-tertiary;
        margin-bottom: 48px;
        text-align: center;
      }
      .descricao-error {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.36px;
        color: $due-tertiary;
        margin-bottom: 48px;
        text-align: center;
      }
    }
  }
}
