@import '../../global/breakpoints';
@import '../../global/colors';
body.page-template-select {
  main {
    overflow-x: initial;
  }
  .beneficios {
    padding: 180px 0;
    background-color: #003b4b;
    .titulo-beneficios-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      text-align: center;
      justify-content: center;
      margin-bottom: 48px;
      .titulo-beneficios {
        color: #faf2eb;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 52px */
        letter-spacing: 0.8px;
      }
    }
    .box-repetidor-benificios {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
      .row-beneficios {
        background: linear-gradient(135deg, rgba(233, 227, 221, 0.03) 0%, rgba(255, 254, 253, 0.1) 100%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        align-items: center;
        @include media-breakpoint-up(md) {
          align-items: initial;
        }
        .titulo-card-beneficios {
          color: #fff;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 26px */
          text-align: center;
          @include media-breakpoint-up(md) {
            max-width: 90%;
            text-align: initial;
          }
        }
        .descricao-card-beneficios {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          text-align: center;
          @include media-breakpoint-up(md) {
            max-width: 90%;
            text-align: initial;
          }
          line-height: 140%; /* 25.2px */
          letter-spacing: 0.36px;
        }
      }
    }
  }

  .excelencia-comprovada {
    padding: 60px 0;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      padding: 120px 0;
    }
    .titulo-excelencia-comprovada {
      color: #003240;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 56px */
      letter-spacing: 0.8px;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        font-size: 40px;
        margin-bottom: 12px;
      }
    }
    .subtitulo-excelencia-comprovada {
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      color: #003240;
      line-height: 140%; /* 30.8px */
      letter-spacing: 0.44px;
      margin-bottom: 32px;
      @include media-breakpoint-up(md) {
        margin-bottom: 48px;
      }
    }
    .swiper-excelencia {
      position: relative;
      padding: 0 20px;
      transition: 0.6s;
      @include media-breakpoint-up(sm) {
        padding: 0 48px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 80px;
      }
      .swiper-wrapper {
        position: relative;
        .row-excelencia-comprovada {
          // width: 405px;
          position: relative;
          cursor: pointer;
          height: 422px;
          transition: 0.6s;
          overflow: hidden;
          @include media-breakpoint-up(md) {
            height: 528px;
          }
          .box-image {
            position: absolute;
            height: 100%;
            width: 100%;
            &::before {
              content: '';
              position: absolute;
              z-index: 1;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 59.07%, rgba(0, 0, 0, 0.8) 100%);
            }
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: 0.6s;
            }
          }
          .card-empreendimento {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 24px;
            height: 100%;
            width: 100%;
            .box-porcentagem {
              display: flex;
              width: 122px;
              height: 84px;
              padding: 10px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              position: relative;
              z-index: 2;
              .porcentagem {
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 18.2px */
                letter-spacing: 0.56px;
              }
              &.vermelho {
                background-color: #861d1d;
              }
              &.dourado {
                background-color: #cb9e6c;
              }
              &.azul {
                background-color: #003b4b;
              }
            }
            .box-conteudo {
              position: relative;
              z-index: 2;
              .box-textos {
                padding-bottom: 24px;
                transition: 0.6s;
                .localizacao {
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 100%; /* 12px */
                  letter-spacing: 0.48px;
                  text-transform: uppercase;
                  color: #fff;
                  padding-bottom: 12px;
                }
                .titulo-empreendimento {
                  font-size: 28px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 100%; /* 39.2px */
                  letter-spacing: 0.56px;
                  color: #fff;
                  padding-bottom: 24px;
                }
                .box-apt {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 12px;
                  .box-svg {
                    width: 20px;
                    height: 20px;
                    svg {
                      width: 20px;
                      height: 20px;
                    }
                  }
                  .numero-apt {
                    font-size: 18px;
                    font-style: normal;
                    color: #fff;
                    font-weight: 300;
                    line-height: 140%; /* 25.2px */
                    letter-spacing: 0.36px;
                  }
                }
              }
              .box-hover {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                opacity: 0;
                transition: 0.6s;
                margin-bottom: -26px;
                .texto-hover {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 14px */
                  letter-spacing: 0.56px;
                  text-transform: uppercase;
                  color: #fff;
                  max-width: 50%;
                }
              }
            }
          }
          &:hover {
            .box-image {
              img {
                scale: 1.1;
              }
            }
            .card-empreendimento {
              .box-textos {
                opacity: 0;
              }
              .box-hover {
                opacity: 1;
                margin-bottom: 24px;
              }
            }
          }
        }
      }
      .swiper-pagination {
        bottom: -40px;
        transition: 0.6s;
        max-width: 50%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(md) {
         display: none;  
        }
        .swiper-pagination-bullet {
          width: 12px;
          background-color: #51848c;
          border-radius: 40px;
        }
        .swiper-pagination-bullet-active {
          width: 40px;
          transition: width 0.5s;
        }
      }
      .box-buttons {
        flex-direction: row-reverse;
        position: absolute;
        display: flex;
        right: 0px;
        bottom: -40px;
        width: 100%;
        gap: 16px;
        justify-content: space-between;
        z-index: 2;
        pointer-events: none;
        height: 12px;
        cursor: pointer;
        @include media-breakpoint-up(md) {
          transform: translateY(-50%);
          right: 0px;
          top: 50%;
          bottom: initial;
          height: 74px;
        }
        svg {
          transition: 0.6s;
          width: 12px;
          height: 14px;
          pointer-events: auto;
          margin-top: 0;
          top: 0;
          @include media-breakpoint-up(md) {
            width: 80px;
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            height: 80px;
          }
          circle {
            transition: 0.6s;
          }
          &:hover {
            scale: 1.02;
            circle {
              stroke-width: 2;
            }
          }
        }
        @include media-breakpoint-up(sm) {
        }
        .desktop-next,
        .desktop-prev {
          display: none;
          @include media-breakpoint-up(md) {
            display: flex;
          }
        }
        .mobile-next,
        .mobile-prev {
          display: flex;
          width: 7.41px;
          height: 12px;
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
        .swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }
  .investidores {
    padding: 120px 0;
    position: relative;
    .titulo-investidores {
      color: #003240;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 130%; /* 52px */
      letter-spacing: 0.8px;
      margin-bottom: 48px;
    }
    .box-investidores {
      overflow: hidden; /* Esconde os elementos fora da visão */
      width: 100%;
      position: relative;
    }

    .investidores-carousel {
      display: flex; /* Alinhamento horizontal */
      gap: 20px; /* Espaçamento entre os itens */
      transition: transform 0.5s ease; /* Transição suave */
      will-change: transform; /* Melhora o desempenho */
    }

    .row-investidores {
      width: 389px; /* Largura fixa para cada item */
      flex-shrink: 0; /* Não deixa os itens encolherem */
      text-align: center;
      //   background: #f4f4f4;
      padding: 10px;
      .titulo-investidores-card {
        transform: translateY(-45px);
        color: #fff;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
      }
    }

    .investidores-carousel img {
      max-width: 100%;
      height: auto;
    }
  }
}
