@import '../../global/breakpoints';
@import '../../global/colors';
.footer {
  background-color: $due-primary;
  padding: 80px 0 27px;
  position: relative;
  overflow: hidden;
  .titulo-footer-mobile {
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.96px;
    color: $grey-0;
    font-size: 24px;
    margin-bottom: 68px;
    @include media-breakpoint-up(md) {
      font-size: 48px;
      display: none;
    }
  }
  .boxs-sections {
    flex-direction: column-reverse;
    gap: 80px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 20px;
    }
    .box-left-footer {
      display: flex;
      flex-direction: column;
      gap: 160px;
      margin-bottom: 90px;
      @include media-breakpoint-up(md) {
        margin-bottom: 116px;
      }
      .titulo-footer {
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.96px;
        color: $grey-0;
        font-size: 24px;
        display: none;
        @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: column;
          font-size: 48px;
        }
      }
      .box-conteudo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        @include media-breakpoint-up(md) {
          gap: 56px;
          align-items: flex-start;
        }
        .box-links-whatsapp {
          display: flex;
          flex-direction: column;
          gap: 14px;
          align-items: center;
          @include media-breakpoint-up(md) {
            align-items: flex-start;
          }
          .link-whats {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            P {
              font-size: 14px;
              color: $grey-0;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              letter-spacing: 0.28px;
              text-transform: uppercase;
            }
          }
        }
        .endereco {
          p {
            color: #e9e3dd;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.32px;
            text-align: center;
            @include media-breakpoint-up(md) {
              text-align: start;
            }
          }
        }
        .box-rede-social {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          gap: 16px;
          .box-repetidor-rede-social {
            cursor: pointer;
            .element {
              svg {
                width: 28px;
                height: 28px;
                @include media-breakpoint-up(md) {
                  width: initial;
                  height: initial;
                }
                path {
                  transition: 0.6s;
                }
              }
            }
            &:hover {
              .element {
                svg {
                  path {
                    fill: $grey-0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .shape-coral-svg {
    position: absolute;
    bottom: -70px;
    right: -70px;
    z-index: 1;
  }
  .box-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 24px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .copyright {
      width: 100%;
      p {
        color: #e9e3dd;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.24px;
        text-align: center;
        @include media-breakpoint-up(md) {
          text-align: start;
        }
      }
    }
    .box-link-paginas {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 40px;
      @include media-breakpoint-up(md) {
        gap: 0;
        flex-direction: row;
        align-items: flex-start;
      }
      .links-paginas {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-direction: column;
        @include media-breakpoint-up(md) {
          flex-direction: row;
          align-items: flex-start;
          gap: 28px;
        }
        .link-page-footer {
          .link-footer {
            cursor: pointer;
            color: #e9e3dd;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            position: relative;
            &::after {
              content: '';
              bottom: -6px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: #e9e3dd;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
      .dzigual {
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
