@import '../../global/breakpoints';
@import '../../global/colors';
body.single-tipo_single_page {
  header {
    .button-menu {
      color: $due-tertiary !important;
    }
  }
  .banner-hero-single-tipologia {
    background-color: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column-reverse;
    padding-bottom: 48px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      padding: 104px 0 40px;
    }
    .box-container-tipologias-hero {
      width: 100%;
      &.container-texto {
        padding: 0 20px;
        transition: 0.6s;

        @include media-breakpoint-up(md) {
          padding-left: 48px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 80px 20px;
        }
        .localizacao-tipologia {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: 40px;
          .titulo-tipologia,
          .localizacao {
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 11px */
            text-transform: uppercase;
            color: #cb9e6c;
            letter-spacing: 0.44px;
          }
          span {
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 11px */
            text-transform: uppercase;
            color: #cb9e6c;
            letter-spacing: 0.44px;
          }
        }

        .box-nome-tipologia {
          margin-bottom: 40px;
          .label-tipologia {
            color: $due-tertiary;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.44px;
            text-transform: uppercase;
          }
          .titulo-hero {
            color: $due-tertiary;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 44.8px */
            letter-spacing: 0.64px;
          }
        }
        .box-descricao {
          margin-bottom: 80px;
          .descricao-tipologia {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 25.2px */
            letter-spacing: 0.36px;
            color: $due-tertiary;
            max-width: 430px;
          }
        }
        .box-repetidor-diferenciais {
          display: flex;
          flex-direction: column;
          gap: 16px;
          @include media-breakpoint-up(md) {
            flex-wrap: wrap;
            flex-direction: row;
          }
          .row-diferencias {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            width: 100%;
            @include media-breakpoint-up(md) {
              width: 48%;
            }
            .box-svg {
              svg {
                width: 26px;
                height: 16px;
              }
            }
            .titulo-diferencias {
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              color: $due-tertiary;
            }
          }
        }
      }

      &.container-imagem {
        img {
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          max-height: 430px;
          @include media-breakpoint-up(md) {
            max-height: initial;
          }
        }
      }
    }
  }
  .panorama {
    padding: 80px 0;
    .viewer {
      width: 100%;
      height: 550px;
    }
    .shape-panorama-off {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      cursor: pointer;
    }
  }

  .galeria {
    .titulo-galeria {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.48px;
      color: $due-tertiary;
      margin-bottom: 24px;
    }
    .swiper-galeria {
      position: relative;
      .swiper-wrapper {
        .slide-image {
          width: 310px;
          height: 400px;
          .box-img {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(0, 0, 0);
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 100%, rgba(247, 247, 247, 0) 100%);
              z-index: 1;
            }
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .slide-video {
          width: 556px !important;
          height: 400px;

          .box-video {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(0, 0, 0);
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 100%, rgba(247, 247, 247, 0) 100%);
              z-index: 1;
            }
            .shape-video {
              position: absolute;
              top: 43%;
              left: 50%;
              z-index: 2;
              transform: translate(-50%);
            }
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .box-buttons {
        display: none;
        flex-direction: row-reverse;
        position: absolute;
        right: 3px;
        top: 50%;
        width: 100%;
        height: 74px;
        gap: 16px;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        padding: 0 20px;
        cursor: pointer;
        svg {
          filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
          transition: 0.6s;
          width: 80px;
          height: 80px;
          pointer-events: auto;
          circle {
            transition: 0.6s;
          }
          &:hover {
            scale: 1.02;
            circle {
              stroke-width: 2;
            }
          }
        }
        @include media-breakpoint-up(sm) {
          display: flex;
        }

        .swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }

  .plantas {
    padding: 120px 0;
    .wrapper {
      .titulo-plantas {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.64px;
        color: $due-tertiary;
        text-align: center;
        margin-bottom: 18px;
      }
      .subtitulo-plantas {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.32px;
        color: $due-tertiary;
        text-align: center;
      }

      .slider-plantas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .box-thumb-titulo {
          position: relative;
          .gallery-thumbs {
            .swiper-wrapper {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              transition: none !important;
              transform: none !important;
              .row-slide-thumbs {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: fit-content !important;
                cursor: pointer;
                padding: 12px 0;
                position: relative;
                &::after {
                  content: '';
                  bottom: -2px;
                  width: 0;
                  height: 2px;
                  transition: 0.6s;
                  left: 0;
                  position: absolute;
                  background-color: $due-tertiary;
                }
                &:hover {
                  &::after {
                    width: 100%;
                  }
                }
                .sufix-planta {
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 100%; /* 18px */
                  letter-spacing: 0.36px;
                  color: $due-tertiary;
                  padding-right: 12px;
                }
                .quartos-metragem-planta {
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 100%; /* 16px */
                  letter-spacing: 0.32px;
                  color: rgba(0, 43, 54, 0.6);
                }
              }
            }
          }
        }
        .box-slides-plantas {
          .swiper-container.gallery-top {
            .swiper-wrapper {
              max-width: 1280px;
              .row-slide-gallery-top {
                display: flex;
                flex-direction: row;
                .box-conteudo {
                  background-color: $background;
                  padding: 52px;
                  width: 100%;
                  .sufix-planta {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 0.64px;
                    color: $due-tertiary;
                    margin-bottom: 12px;
                  }
                  .quartos-metragem-planta {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 33.6px */
                    letter-spacing: 0.48px;
                    color: $due-tertiary;
                    margin-bottom: 40px;
                  }
                  .box-repetidor-caracteristicas {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    margin-bottom: 60px;
                    .row-caracteristicas {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      gap: 16px;
                      .box-svg {
                        svg {
                          width: 27px;
                          height: 27px;
                        }
                      }
                    }
                  }
                  .box-pavimentos {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    .pavimentos-coluna-I {
                      .titulo-coluna-pavimento-i {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%; /* 12px */
                        letter-spacing: 0.48px;
                        color: $due-tertiary;
                        margin-bottom: 24px;
                      }
                      .box-lista {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .row-lista {
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          gap: 8px;
                          .titulo-pavimento {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 140%; /* 25.2px */
                            letter-spacing: 0.36px;
                            color: $due-tertiary;
                          }
                        }
                      }
                    }
                    .pavimentos-coluna-II {
                      .titulo-coluna-pavimento-ii {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%; /* 12px */
                        letter-spacing: 0.48px;
                        color: $due-tertiary;
                        margin-bottom: 24px;
                      }
                      .box-lista {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .row-lista {
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          gap: 8px;
                          .titulo-pavimento {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 140%; /* 25.2px */
                            letter-spacing: 0.36px;
                            color: $due-tertiary;
                          }
                        }
                      }
                    }
                  }
                }
                .box-gallery {
                  width: 100%;
                  max-width: 656px;
                }
              }
            }
          }
        }
      }
    }
  }

  .entre-contato {
    padding: 60px 0 180px;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .titulo-entre-contato {
        color: $due-tertiary;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.8px;
        margin-bottom: 8px;
        font-size: 32px;
        text-align: center;
        @include media-breakpoint-up(md) {
          font-size: 40px;
        }
      }
      .subtitulo-entre-contato {
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.64px;
        color: $due-tertiary;
        margin-bottom: 64px;
        font-size: 20px;
        @include media-breakpoint-up(md) {
          font-size: 32px;
        }
      }
      .box-entre-contato {
        display: flex;
        gap: 16px;
        flex-direction: column;
        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
        .button-fixed-atendimento {
          border: 1px solid #003b4b;
        }
      }
    }
  }

  .carrossel-tipologia {
    background-color: $due-secondary;
    padding: 80px 0;
    .box-localizacao-carrossel {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      margin-bottom: 30px;
      .box-svg {
        svg {
          width: 15px;
          height: 19px;
        }
      }
      .titulo-localizacao-carrossel {
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 11px */
        letter-spacing: 0.44px;
        text-transform: uppercase;
        color: $grey-0;
      }
    }
    .titulo-carrossel {
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 44.8px */
      letter-spacing: 0.64px;
      color: $grey-0;
      margin-bottom: 60px;
    }

    .box-swiper {
      position: relative;
      .swiper-wrapper {
        .swiper-slide {
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
          height: 510px;
          .tipologia-card {
            position: relative;
            .estado-tipologia {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              width: 100%;
              text-align: center;
              padding: 10px 0;
              color: #fff;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              letter-spacing: 0.48px;
              text-transform: uppercase;
            }
            .tipologia-photo {
              height: 300px;
              width: 100%;
              object-fit: cover;
              margin-bottom: 20px;
            }
            .tipologia-name {
              font-size: 28px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; /* 39.2px */
              letter-spacing: 0.56px;
              color: $grey-0;
              margin-bottom: 20px;
            }
            .box-quartos-metragem {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 20px;
              gap: 16px;
              .box-quarto {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                .quartos {
                  color: $grey-0;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%; /* 25.2px */
                  letter-spacing: 0.36px;
                }
              }
              .box-metragem {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                .metragem {
                  color: $grey-0;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%; /* 25.2px */
                  letter-spacing: 0.36px;
                }
              }
            }
            .container-diferencias {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 12px;
              .box-diferencias {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 48%;

                gap: 8px;
                .diifs-names {
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 140%; /* 22.4px */
                  letter-spacing: 0.32px;
                  color: $grey-0;
                }
              }
            }
          }

          &.lancamento {
            .estado-tipologia {
              background-color: #cb9e6c;
            }
          }
          &.em_obra {
            .estado-tipologia {
              background-color: #003b4b;
            }
          }
          &.ultimas_unidades {
            .estado-tipologia {
              background-color: #861d1d;
            }
          }
          &.vendido {
            .estado-tipologia {
              background-color: #e9e3dd;
              color: $due-tertiary;
            }
            .tipologia-photo {
              filter: grayscale(1);
            }
          }
        }
      }
      .box-buttons {
        display: none;
        flex-direction: row-reverse;
        position: absolute;
        right: 3px;
        top: 42%;
        width: 100%;
        height: 74px;
        gap: 16px;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        padding: 0 20px;
        cursor: pointer;
        svg {
          filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
          transition: 0.6s;
          width: 80px;
          height: 80px;
          pointer-events: auto;
          circle {
            transition: 0.6s;
          }
          &:hover {
            scale: 1.02;
            circle {
              stroke-width: 2;
            }
          }
        }
        @include media-breakpoint-up(sm) {
          display: flex;
        }

        .swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }
}
