@import '../../global/breakpoints';
@import '../../global/colors';
body.single-empre_single_page {
  header {
    .link-logo-menu {
      .box-svg-header {
        svg {
          path {
            fill: #fff;
          }
          .incorporadora {
            display: none;
          }
        }
      }
    }
  }

  .single-empreendimentos {
    .hero-single-empreendimentos {
      width: 100%;
      height: 728px;
      position: relative;
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .box-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 59, 75, 0.7) 0%, rgba(0, 59, 75, 0.2) 100%);
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .box-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 59, 75, 0.7) 0%, rgba(0, 59, 75, 0) 100%);
        }
        .zoom {
          scale: 1.1;
        }
        video {
          transition: 0.6s;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .box-titulo-hero {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        justify-content: center;
        z-index: 2;
        padding: 0 20px;

        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          padding: 0 48px;
        }
        @include media-breakpoint-up(md) {
          padding: 0 80px;
        }

        @include media-breakpoint-up(desk) {
          padding: 0 198px;
        }
        .titulo-hero {
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 1.28px;
          color: $grey-0;
          font-size: 40px;
          transition: 0.6s;
          @include media-breakpoint-up(md) {
            font-size: calc(1rem + 3vw);
          }
        }
        .localizacao-hero {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 0.48px;
          text-transform: uppercase;
          color: $grey-0;
          transition: 0.6s;
          @include media-breakpoint-up(md) {
            font-size: calc(0.6rem + 0.3vw);
          }
        }
        .box-infos {
          display: flex;
          flex-direction: row;
          gap: 32px;
          .box-quartos,
          .box-metragem {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            p {
              color: $grey-0;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              transition: 0.6s;
              @include media-breakpoint-up(md) {
                font-size: calc(0.6rem + 0.7vw);
              }
            }
            .element {
              height: 20px;
              svg {
                height: 20px;
              }
            }
          }
        }
      }
    }

    .introducao {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 80px;
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
          gap: 140px;
          flex-direction: row;
        }

        .introducao-ancora {
          width: 100%;

          .box-repetidor-ancora {
            display: flex;
            flex-direction: row;
            gap: 24px;
            margin-bottom: 80px;
            width: 100%;
            @include media-breakpoint-down(sm) {
              display: none;
            }
            a {
              color: $due-tertiary;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 16.8px */
              letter-spacing: 0.48px;
              text-transform: uppercase;
              position: relative;
              cursor: pointer;
              white-space: nowrap;
              &::after {
                content: '';
                bottom: -2px;
                width: 0;
                height: 2px;
                transition: 0.6s;
                left: 0;
                position: absolute;
                background-color: $due-tertiary;
              }
              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }
          .box-textos-introducao {
            transition: 0.6s;
            max-width: 560px;
            @include media-breakpoint-up(lg) {
              max-width: 428px;
            }
            @include media-breakpoint-up(xxl) {
              max-width: 800px;
            }
            .titulo-introducao {
              font-size: 32px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; /* 44.8px */
              letter-spacing: 0.64px;
              margin-bottom: 16px;
              color: $due-tertiary;
              transition: 0.6s;
              @include media-breakpoint-up(md) {
                font-size: calc(1rem + 0.9vw);
              }
            }
            .subtitulo-introducao {
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              color: $due-tertiary;
              transition: 0.6s;
              @include media-breakpoint-up(md) {
                font-size: calc(1rem + 0.2vw);
              }
            }
          }
        }
        .introducao-valores {
          background-color: $background;
          padding: 40px 23px;
          height: 100%;
          width: 100%;
          margin-top: -230px;
          z-index: 1;
          position: relative;
          .titulo-valores {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.32px;
            color: $due-tertiary;
            margin-bottom: 48px;
            @include media-breakpoint-up(md) {
              font-size: calc(0.8rem + 0.3vw);
            }
          }
          .repetidor-valores {
            display: flex;
            flex-direction: column;
            @include media-breakpoint-up(md) {
              flex-direction: row;
              gap: 24px;
            }
            .box-valores {
              width: 100%;
              padding-bottom: 24px;
              border-bottom: 1px solid #cb9e6c;
              margin-bottom: 28px;
              .box-titulo-valores {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0.48px;
                color: $due-tertiary;
              }
              .subtitulo-valores {
                color: $due-tertiary;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0.28px;
              }
            }
          }
          .topicos-destaque {
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;

            .box-destaque {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 16px;
              padding-bottom: 16px;
              p {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 25.2px */
                letter-spacing: 0.36px;
                color: $due-tertiary;
              }
              &:not(:first-child) {
                padding-top: 16px;
              }
              &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 43, 54, 0.2);
              }
            }
          }
          .box-link {
            .button-fixed-atendimento {
              width: fit-content;
              padding: 23px 32px;
              p {
                font-family: 'founders-grotesk', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 21px */
                letter-spacing: 0.3px;
                color: #8ac550;
                text-transform: none;
              }
            }
          }
          .box-svg {
            position: absolute;
            right: 24px;
            bottom: -64px;
            svg {
              filter: drop-shadow(6px 10px 3px rgb(0 0 0 / 0.4));
              width: 96.66px;
              transition: 0.6s;
              height: 96.372px;
              @include media-breakpoint-up(desk) {
                width: 120px;
                height: 120px;
              }
            }
          }
          .receita-bruta {
            color: $due-tertiary;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 19.6px */
            letter-spacing: 0.28px;
            opacity: 0.6;
            width: fit-content;
            position: absolute;
            bottom: -24px;
            left: 0;
          }
        }
      }
    }
    .praia {
      position: relative;
      width: 100%;
      height: 700px;
      overflow: hidden;
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        flex-direction: column;
        @include media-breakpoint-up(sm) {
          flex-direction: row;
        }
        .box-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 0;
          transition: 0.6s;
          height: 100%;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 59, 75, 0.35);
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .box-video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 0.6s;
          z-index: 1;
          height: 100%;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 59, 75, 0.35);
          }
          video {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .box-titulo-praia {
          position: relative;
          z-index: 2;
          display: flex;
          align-items: flex-end;
          padding: 40px 0 0;
          @include media-breakpoint-up(sm) {
            padding: 0 0 40px;
          }
          h3 {
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.8px;
            color: $grey-0;
            font-size: 24px;
            transition: 0.6s;
            @include media-breakpoint-up(sm) {
              font-size: calc(1rem + 1.6vw);
            }
          }
        }
        .box-cards-praia {
          position: relative;
          z-index: 2;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 0 0 20px;
          @include media-breakpoint-up(sm) {
            padding: 40px 0 0;
          }
          .box-infos-cards {
            width: fit-content;
            clip-path: inset(0 0 100% 0);
            transition: clip-path 1.5s cubic-bezier(0.76, 0, 0.24, 1);
            &.imgPath {
              clip-path: inset(0 0 -100px -100px);
            }
            .titulo-infos-praia {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 24px */
              letter-spacing: 0.4px;
              color: $due-tertiary;
              background-color: $grey-0;
              padding: 16px;
              max-width: 160px;
              text-align: center;
              border-radius: 6px 6px 0px 0px;
              @include media-breakpoint-down(sm) {
                padding: 10px;
                max-width: 100px;
                font-size: 14px;
              }
            }
            .premio-infos-praia {
              font-size: 14px;
              font-style: normal;
              line-height: 140%; /* 27.212px */
              letter-spacing: 0.389px;
              color: $grey-0;
              text-align: center;
              background-color: #51848c;
              border-radius: 0px 0px 6px 6px;
              padding: 9px 0;
              @include media-breakpoint-up(sm) {
                font-size: 19px;
              }
            }
            &.bg-blue {
              .premio-infos-praia {
                background-color: #003b4b;
              }
            }
          }
        }
      }
      &.zoom {
        .box-img,
        .box-video {
          scale: 1.1;
        }
      }
    }
    .galeria {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 80px;
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
        .boxs-container-galeria {
          width: 100%;
        }
        .text-galeria {
          max-width: 400px;
          @include media-breakpoint-down(sm) {
            padding: 0 20px;
          }
          @include media-breakpoint-up(md) {
            position: sticky;
            top: 90px;
            height: fit-content;
          }
          .titulo-galeria {
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.64px;
            color: $due-tertiary;
            margin-bottom: 52px;
            font-size: 24px;
            @include media-breakpoint-up(md) {
              font-size: 32px;
            }
          }
          .box-caracteristicas {
            display: flex;
            flex-direction: column;
            gap: 14px;
            .row-caracteristicas {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 16px;
              .texto-caracteristica {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 25.2px */
                letter-spacing: 0.36px;
                color: $due-tertiary;
              }
            }
          }
        }
        .imagens-galeria {
          flex-direction: row;
          gap: 14px;
          display: none;
          width: 100%;
          @include media-breakpoint-up(md) {
            display: flex;
          }
          .box-column {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            .column-right {
              width: 100%;
            }
            .column-left {
              width: 100%;
            }
            .img {
              cursor: pointer;
              display: flex;
              overflow: hidden;
              .imgGrow {
                width: 100%;
                object-fit: cover;
                transition: 0.6s;
              }
              &:hover {
                .imgGrow {
                  scale: 1.1;
                }
              }
            }
            .box-video {
              cursor: pointer;
              display: flex;
              overflow: hidden;
              position: relative;
              .shape-video {
                position: absolute;
                top: 43%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%);
              }
              .imgGrow {
                width: 100%;
                object-fit: cover;
                transition: 0.6s;
              }
              &:hover {
                .imgGrow {
                  scale: 1.1;
                }
              }
            }
          }
        }
        .imagens-galeria-mobile {
          @include media-breakpoint-up(md) {
            display: none;
          }
          .swiper-container {
            position: relative;
            .swiper-slide {
              height: 350px;
              .img {
                height: 350px;
                display: flex;
                .imgGrow {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
              .box-video {
                cursor: pointer;
                display: flex;
                overflow: hidden;
                position: relative;
                height: 350px;

                .shape-video {
                  position: absolute;
                  top: 43%;
                  left: 50%;
                  z-index: 2;
                  transform: translate(-50%);
                }
                .imgGrow {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper-pagination-bullet-active {
              width: 60px;
              height: 3px;
              border-radius: 0;
              background-color: #fff;
            }
          }
        }
      }
    }

    .experiencia-resort {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .titulo-espaco {
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 56px */
        letter-spacing: 0.8px;
        color: $due-tertiary;
        margin-bottom: 40px;
        font-size: 24px;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          font-size: calc(1rem + 1.6vw);
        }
      }

      .box-lista-rota {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
        margin-bottom: 24px;
        .lista-rota {
          .item-rota {
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 14px */
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: $due-tertiary;
            cursor: pointer;
            position: relative;
            transition: 0.6s;
            @include media-breakpoint-up(md) {
              font-size: calc(0.3rem + 0.4vw);
            }
            &::after {
              content: '';
              bottom: -6px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: $due-tertiary;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }

      .box-aba-galeria {
        .swiper-rota-destino {
          position: relative;
          .swiper-slide {
            max-width: 280px;
          }
          .box-buttons-swiper {
            display: none;
            flex-direction: row-reverse;
            position: absolute;
            right: 3px;
            top: 50%;
            width: 100%;
            height: 74px;
            gap: 16px;
            justify-content: space-between;
            transform: translateY(-50%);
            z-index: 1;
            pointer-events: none;
            padding: 0 20px;
            cursor: pointer;
            svg {
              filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
              transition: 0.6s;
              width: 50px;
              height: 50px;
              pointer-events: auto;
              circle {
                transition: 0.6s;
              }
              &:hover {
                scale: 1.02;
                circle {
                  stroke-width: 2;
                }
              }
            }
            @include media-breakpoint-up(sm) {
              display: flex;
            }

            .swiper-button-disabled {
              opacity: 0;
            }
          }
        }
        .card-rota {
          width: 280px;
          height: 548px;
          .box-imagem {
            position: relative;
            height: 100%;
            width: 100%;
            cursor: pointer;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              position: relative;
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(0, 0, 0);
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 100%, rgba(247, 247, 247, 0) 100%);
              z-index: 1;
            }
          }
          .card-rota-content {
            position: absolute;
            z-index: 2;
            bottom: 24px;
            left: 0;
            width: 100%;
            .card-rota-title {
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              letter-spacing: 0.56px;
              text-transform: uppercase;
              color: #fff;
            }
          }
        }
      }
    }

    .explore-empreendimento {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .wrapper {
        .titulo-explore {
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          letter-spacing: 0.64px;
          margin-bottom: 32px;
          color: $due-tertiary;
          font-size: 24px;
          transition: 0.6s;
          @include media-breakpoint-up(sm) {
            font-size: calc(1rem + 1.1vw);
          }
        }
        .box-mobli-legenda {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          margin-bottom: 30px;
          @include media-breakpoint-up(md) {
            display: none;
          }
          .label-legenda {
            color: $due-tertiary;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 16px */
            letter-spacing: 0.32px;
          }
        }
      }
      .box-image-mapa {
        @include media-breakpoint-up(sm) {
          padding: 0 48px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 80px;
        }
        position: relative;
        .shape-orientacao {
          position: absolute;
          transition: 0.6s;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        &:hover {
          .shape-orientacao {
            opacity: 0;
            z-index: -1;
            pointer-events: none;
          }
        }
      }
      .wrap_svl_center {
        height: 500px;
        @include media-breakpoint-down(sm) {
          overflow: scroll;
        }
        .wrap_svl_center_box {
          width: 100%;
          height: 500px;
          .wrap_svl {
            width: 100%;
            height: 500px;
            .images_wrap {
              height: 500px;
              img {
                height: 100%;
                width: 100%;
                // object-fit: cover;
                @include media-breakpoint-down(sm) {
                  max-inline-size: initial;
                  max-block-size: initial;
                  width: initial;
                }
              }
            }
          }
        }
      }
      .drag_element {
        width: 25px;
        height: 25px;
        .point_style {
          width: 25px;
          height: 25px;

          .pins_image {
            top: initial !important;
            left: initial !important;
            cursor: pointer;
          }
        }
      }
    }

    .tipologias-do-empreendimento {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .titulo-tipologia-do-empreendimento {
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 56px */
        letter-spacing: 0.8px;
        margin-bottom: 24px;
        font-size: 24px;
        text-align: center;
        color: $due-tertiary;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          font-size: calc(1rem + 1.6vw);
        }
      }
      .box-swiper {
        position: relative;
        .swiper-wrapper {
          .swiper-slide {
            padding-bottom: 20px;
            border-bottom: 1px solid #002b36;
            height: 510px;
            .tipologia-card {
              position: relative;
              cursor: pointer;
              .estado-tipologia {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 10px 0;
                color: #fff;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: 0.48px;
                text-transform: uppercase;
              }
              .box-image-tipologia {
                overflow: hidden;
                margin-bottom: 20px;

                .tipologia-photo {
                  height: 300px;
                  transition: 0.6s;
                  width: 100%;
                  object-fit: cover;
                }
              }
              .tipologia-name {
                font-size: 28px;
                font-style: normal;
                font-weight: 300;
                line-height: 140%; /* 39.2px */
                letter-spacing: 0.56px;
                color: $due-tertiary;
                margin-bottom: 20px;
              }
              .box-quartos-metragem {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                gap: 16px;
                .box-quarto {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 8px;
                  .quartos {
                    color: $due-tertiary;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 25.2px */
                    letter-spacing: 0.36px;
                  }
                }
                .box-metragem {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 8px;
                  .metragem {
                    color: $due-tertiary;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 25.2px */
                    letter-spacing: 0.36px;
                  }
                }
              }
              .container-diferencias {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 12px;
                .box-diferencias {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 48%;

                  gap: 8px;
                  .diifs-names {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%; /* 22.4px */
                    letter-spacing: 0.32px;
                    color: $due-tertiary;
                  }
                }
              }
              &:hover {
                .tipologia-photo {
                  scale: 1.1;
                }
              }
            }

            &.lancamento {
              .estado-tipologia {
                background-color: #cb9e6c;
              }
            }
            &.em_obra {
              .estado-tipologia {
                background-color: #003b4b;
              }
            }
            &.ultimas_unidades {
              .estado-tipologia {
                background-color: #861d1d;
              }
            }
            &.vendido {
              .estado-tipologia {
                background-color: #e9e3dd;
                color: $due-tertiary;
              }
              .tipologia-photo {
                filter: grayscale(1);
              }
            }
            &.morar {
              .estado-tipologia {
                background-color: #0a6361;
              }
            }
          }
        }
        .box-buttons {
          display: none;
          flex-direction: row-reverse;
          position: absolute;
          right: 3px;
          top: 42%;
          width: 100%;
          height: 74px;
          gap: 16px;
          justify-content: space-between;
          transform: translateY(-50%);
          z-index: 1;
          pointer-events: none;
          padding: 0 20px;
          cursor: pointer;
          svg {
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            transition: 0.6s;
            width: 80px;
            height: 80px;
            pointer-events: auto;
            circle {
              transition: 0.6s;
            }
            &:hover {
              scale: 1.02;
              circle {
                stroke-width: 2;
              }
            }
          }
          @include media-breakpoint-up(sm) {
            display: flex;
          }

          .swiper-button-disabled {
            opacity: 0;
          }
        }
      }
    }

    .diferenciais {
      background: $due-secondary;
      height: 100%;
      padding: 64px 0 120px;
      @include media-breakpoint-up(md) {
        padding: 80px 0;
      }
      .titulo-diferenciais {
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.8px;
        color: $grey-0;
        text-align: center;
        margin-bottom: 80px;
        font-size: 24px;
        transition: 0.6s;
        margin-bottom: 64px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 80px;
          font-size: calc(1rem + 1.6vw);
        }
      }
      .box-cards-diferenciais {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 32px;
        @include media-breakpoint-down(lg) {
          justify-content: center;
          gap: 64px 24px;
        }
        @include media-breakpoint-down(md) {
          gap: 64px 16px;
        }
        @include media-breakpoint-down(sm) {
          display: none;
        }
        .row-cards {
          width: 23%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 32px;
          border-bottom: 1px solid #fff;
          gap: 24px;
          .box-svg {
            display: flex;
            align-items: center;
          }

          .text-repeater {
            color: $grey-0;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            letter-spacing: 0.36px;
            text-align: center;
            max-width: 260px;
            @include media-breakpoint-up(md) {
              font-size: calc(0.7rem + 0.4vw);
            }
          }
        }
        &.center-rows {
          justify-content: center;
        }
      }
      .box-cards-swiper {
        @include media-breakpoint-up(sm) {
          display: none;
        }
        .swiper-container {
          position: relative;
          .row-cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 32px;
            border-bottom: 1px solid #fff;
            gap: 24px;

            .box-svg {
              display: flex;
              align-items: center;
            }

            .text-repeater {
              color: $grey-0;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              text-align: center;
              max-width: 260px;
            }
          }
          .swiper-pagination {
            bottom: -64px;

            .swiper-pagination-bullet {
              background-color: #fff;
            }
          }
        }
      }
    }

    .evolucao-obra {
      background: rgba(233, 227, 221, 0.5);
      margin-bottom: 64px;
      padding: 64px 0;
      @include media-breakpoint-up(md) {
        padding: 80px 0;
        margin-bottom: 120px;
      }
      .titulo-status-obra {
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.32px;
        color: $due-tertiary;
        margin-bottom: 56px;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          font-size: calc(1rem + 1.1vw);
        }
      }
      .box-estagio-obra {
        display: flex;
        flex-direction: row;
        gap: 46px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 20px 40px 20px;
        transition: 0.6s;
        margin-bottom: 56px;
        @include media-breakpoint-up(md) {
          padding: 0 48px 40px 48px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 80px 20px;
          max-width: 2000px;
        }
        @media (min-width: 1370px) {
          overflow-x: hidden;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #f5f5f5;
          margin: 10px 0;
        }

        &::-webkit-scrollbar {
          height: 8px;
          background-color: #f5f5f5;
          width: 90%;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: $due-secondary;
        }
        .row-estagio {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;

          .bullet {
            width: 72px;
            height: 72px;
            border-radius: 100%;
            background: #fdfcfc;
            border: 1px solid #e9e3dd;
            position: relative;
            margin-bottom: 12px;
            transition: clip-path 1s cubic-bezier(0.76, 0, 0.24, 1);
            &::before,
            &::after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              border-radius: 100%;
            }
            &::before {
              background: #fdfcfc;
              clip-path: inset(0 0 0 0);
            }
            &::after {
              background: #003b4b;
              clip-path: var(--clip-path-value, inset(0 0 0 0)); /* Valor padrão */
            }
            .line {
              &::before,
              &::after {
                width: 170px;
                height: 3px;
                content: '';
                position: absolute;
                top: 50%;
                z-index: 0;
                right: -90%;
                background-color: #e9e3dd;
                transform: translate(46%, -0%);
              }
            }
          }
          &:last-child {
            .bullet {
              .line {
                display: none;
              }
            }
          }
          .porcentagem {
            color: #cb9e6c;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            text-align: center;
            margin-bottom: 12px;
          }
          .titulo-estagio {
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.14px;
            max-width: 88px;
            text-align: center;
            color: #000;
          }
        }
      }

      .box-portal-cliente {
        background: rgba(233, 227, 221, 0.7);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        transition: 0.6s;
        flex-direction: column;
        gap: 20px;
        padding: 32px 20px;
        @include media-breakpoint-up(sm) {
          padding: 40px 48px;
          margin: 0 48px;
        }
        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
        @include media-breakpoint-up(lg) {
          margin: 0 80px;
          max-width: 2000px;
        }

        .titulo-portal-cliente {
          color: $due-tertiary;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: -0.2px;
          text-align: center;
          font-size: 16px;
          transition: 0.6s;
          @include media-breakpoint-up(md) {
            font-size: calc(0.8rem + 0.6vw);
            text-align: start;
          }
        }
        .button {
          gap: 12px;
          align-items: flex-start;
          padding: 20px;
          @include media-breakpoint-up(md) {
            align-items: flex-end;
            padding: 20px 48px;
          }
        }
      }
    }

    .informacoes-obra {
      margin-bottom: 64px;
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        @include media-breakpoint-up(md) {
          gap: 120px;
          flex-direction: row;
        }
        .box-titulos {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 600px;
          @include media-breakpoint-up(xxl) {
            max-width: 800px;
          }
          .titulo-infos-obra {
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.48px;
            margin-bottom: 20px;
            color: $due-tertiary;
            transition: 0.6s;
            @include media-breakpoint-up(sm) {
              font-size: calc(1rem + 0.8vw);
            }
          }
          .descricao-infos-obra {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: 0.36px;
            color: $due-tertiary;
            transition: 0.6s;
            @include media-breakpoint-up(md) {
              font-size: calc(0.7rem + 0.6vw);
            }
          }
        }
        .box-autores {
          width: 100%;
          max-width: 450px;
          .row-autores {
            margin-bottom: 40px;
            .titulo-autores {
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              margin-bottom: 16px;
              color: $due-tertiary;
              transition: 0.6s;
              @include media-breakpoint-up(md) {
                font-size: calc(0.7rem + 0.6vw);
              }
            }
            .text-autor {
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              line-height: 140%; /* 25.2px */
              letter-spacing: 0.36px;
              color: $due-tertiary;
              transition: 0.6s;
              @include media-breakpoint-up(md) {
                font-size: calc(0.7rem + 0.6vw);
              }
            }
          }
        }
      }
    }
  }
}
