@import '../../global/breakpoints';
@import '../../global/colors';

body.page-template-credito-caixa-associativo {
    p {
        font-family: 'founders-grotesk', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 140%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 32px;
        font-weight: 500;
        line-height: 140%;

    }

    /** Section Banner */

    .banner {
        position: relative;
        height: 90vh;
        background: $due-primary;


        .banner-couple {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

            }

        }
    }

    /** Section Descubra como funciona */

    .descubra-como-funciona {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 80px 200px;


        .descubra-title-subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .title {
                color: $due-tertiary;

            }

            .subtitle {
                letter-spacing: 0.48px;
            }
        }

        .descubra-animation-notas {
            width: 100%;

            .descubra-animation {
                margin: 64px 0 19px
            }

            .descubra-nota-rodape {
                color: $grey-1000;
                font-size: 15px;
                line-height: 110%;
                letter-spacing: 0.3px;
            }
        }

    }

    /** Section Caixa vantagens */
    .caixa-vantagens {
        height: 100%;
        position: relative;
        padding-bottom: 35rem;

        .caixa-textos {
            background-color: $due-primary;
            display: flex;
            align-items: center;
            justify-content: space-around;
            max-width: 70%;
            gap: 32px;
            margin: 0 auto;
            padding: 32px 64px;
            transform: translate(0px, -50%);
            z-index: 2;
            position: relative;


            .textos {
                width: 44%;
            }

            .textos p {
                font-size: 18px;
                letter-spacing: 0.36px;
                color: $grey-0;
            }

            .textos strong {
                font-weight: 500;

            }

        }

        .vantagens {
            position: relative;
            z-index: 1;

            .vantagens-main-title {
                position: relative;
                color: $grey-0;
                text-align: center;
                letter-spacing: 0.64px;

            }

            .vantagens-list {
                display: flex;
                justify-content: space-between;
                gap: 80px;
                padding: 85px 120px;
                flex-wrap: wrap;

                .vantagem-item {
                    max-width: 45%;
                    padding-bottom: 56px;
                    display: flex;
                    gap: 24px;
                    position: relative;
                    border-bottom: 1px solid transparent;

                    &:not(:nth-last-child(-n+2)) {
                        border-color: rgba(255, 255, 255, 0.20);
                    }

                    .vantagen-ico {
                        border-radius: 50px;
                        width: 88px;
                        height: 88px;
                        border: 1px solid rgba(255, 255, 255, 0.40);
                        display: flex;
                        padding: 22px 25px;
                        align-items: center;
                        justify-content: center;


                        img {
                            max-inline-size: fit-content;

                        }
                    }

                    .vantagem-texts {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        color: $grey-0;

                        .vantagem-title {
                            font-size: 20px;

                        }

                        .vantagem-paragraph {
                            font-size: 18px;
                            line-height: 135%;
                            letter-spacing: 0.36px;

                        }
                    }
                }
            }

        }

        .box-img-vantagens {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
        }

        .recurso-patrimonio {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 44px;
            z-index: 1;
            position: relative;



            .recurso-patrimonio-text {

                p {
                    font-family: 'terminal-test', sans-serif;
                    font-size: 28px;
                    color: $grey-0;
                    letter-spacing: 0.56px;
                }

                strong {
                    font-weight: 500;

                }
            }

            .recurso-patrimonio-btn {
                padding: 20px 48px;
                background: $grey-0;

                .label-btn {
                    font-family: 'terminal-test', sans-serif;
                    color: $due-primary;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.48px;
                }
            }



        }
    }

    /** Section Dúvidas frequentes */

    .duvidas-frequentes {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 150px 80px;

        .duvidas-anchor {
            color: $due-secondary;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.48px;
        }

        .main-duvidas-title-list {
            display: flex;
            justify-content: space-between;
            gap: 175px;

            .duvidas-main-title-subtitle {
                color: $due-tertiary;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .duvidas-title {
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0.8px;

                    strong {
                        font-weight: 500;
                    }
                }

                .duvidas-subtitle {
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 0.4px;
                    line-height: 135%;

                    strong {
                        font-weight: 500;

                    }
                }
            }

            .duvidas-main-list {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .duvidas-title-list {
                    color: $due-secondary-v2;
                    font-size: 24px;
                    line-height: 140%;
                    letter-spacing: 0.48px;

                }

                .duvidas-item {
                    color: $due-tertiary;
                    display: flex;
                    flex-direction: column;
                    gap: 34px;
                    letter-spacing: 0.36px;
                    padding-bottom: 32px;


                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 59, 75, 0.20);
                    }

                    .duvida-item-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .duvida-response-list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding-left: 1em;

                        .duvida-response-item {
                            font-family: 'founders-grotesk', sans-serif;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 140%;
                            list-style-type: disc;



                            &::marker {
                                color: $due-secondary-v2;

                            }
                        }

                    }
                }
            }

        }
    }

    /** Um Pix da realidade */

    .section-casa-pix {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAF2EA;
        padding: 94px 400px;
        padding: 7% 28%;
        gap: 32px;

        .casa-pix-btn {

            .casa-pix-btn-label {
                font-size: 12px;
                letter-spacing: 0.48px;
                background: $due-primary;
                color: $grey-0;
                padding: 20px 48px;
            }
        }

        .casa-pix-obs {
            color: $due-tertiary;
            font-size: 14px;
            letter-spacing: 0.28px;
        }
    }

}